@model Cart
@* view for book details from the home *@

<form method="post">

    <input asp-for="BookID" hidden/>

    <div class="row m-5 borderbg-opacity-25 shadow border-rounded">
        <div class="card text-center">
            <div class="row m-3">
                <div class="col-12 bg-primary rounded py-2 mb-3">
                    <p class="card-title h1 text-white">@Model.Book.BookTitle</p>
                </div>

                <div class="col-6">
                    <img src="@Model.Book.ImgURL" class ="card-img-top rounded p-4"/>
                </div>
                <div class="col-6">
                    <p class="card-text h3">By: @Model.Book.Author</p>
                    <p class="card-text">@Model.Book.Description</p>


                    <p>@Model.Book.Price</p>

                    <div class="input-group mb-3">
                        <span class="input-group-text"> Quantity</span>

                        <input asp-for="Quantity" class="form-control" />
                    </div>


                <input type="submit" value="Add to Cart" class="btn btn-outline-dark"/>  
                
                </div>
            </div>
        </div>
    </div>
</form>

